button {
  background-color: #0a79df;
  color: #fff;
  font-size: 16px;
  outline: 0;
  border: 0;
  padding: 8px 16px;
  border-radius: 8px;
  margin: 8px;
  margin-left: 160px;
  cursor: pointer;
}

.navigation-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: bisque;
  align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 8px;
}

@media screen and (max-width: 480px) {
  .navigation-bar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navigation-bar .app-title {
    padding: 8px 0;
  }
  .navigation-bar nav {
    width: 100%;
    height: 40px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: rgba(255, 245, 230, 0.8);
  }
}

.navigation-bar nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.navigation-bar nav a {
  margin: 0 12px;
  cursor: pointer;
}

.form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-wrapper input {
  width: 240px;
  padding: 8px;
  margin-top: 2px;
  border-radius: 8px;
  border: 1px solid grey;
  outline: 0;
}

.form-wrapper input[type="radio"],
.form-wrapper input[type="checkbox"] {
  width: auto;
  margin: 0 8px 0 16px;
}

.form-wrapper .input-radio-items {
  margin-left: -12px;
}

.form-wrapper .inline-label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 18px;
}

.form-wrapper form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.form-wrapper h2 {
  margin: 18px 0;
}

.form-wrapper .form-item {
  width: 320px;
  text-align: left;
  margin: 8px;
}

.form-wrapper .input-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 160px 280px;
      grid-template-columns: 160px 280px;
  justify-items: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 60px;
}

@media (max-width: 600px) {
  .form-wrapper .input-wrapper {
    display: block;
    text-align: left;
    margin: 8px;
  }
  .form-wrapper .input-radio-items {
    margin-top: 10px;
  }
  .form-wrapper button {
    width: 240px;
    margin-left: 8px;
  }
}

.main-container h2 {
  margin: 18px 0;
}

.main-container .table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-container .table table {
  margin-top: 10px;
}

.main-container .table td,
.main-container .table th {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.main-container .table thead th {
  border-top: none;
  min-width: 150px;
}

.main-container .table td {
  border-right: 2px solid peachpuff;
  text-align: center;
}

.main-container .table tbody tr:nth-child(1) td {
  border-top: 3px solid salmon;
}

.main-container .table button {
  border: none;
  background-color: transparent;
  text-decoration: underline;
  cursor: pointer;
}

.main-container .table button:hover {
  text-decoration: none;
  color: #333;
}

@media screen and (max-width: 767px) {
  .main-container .table {
    font-size: 12px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    overflow-x: scroll;
  }
}

.cart-checkout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart-checkout input {
  border-radius: 8px;
  border: 1px solid grey;
  outline: 0;
  padding: 8px;
}

.cart-checkout .cart-cols {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 150px 100px;
      grid-template-columns: 150px 100px;
  justify-items: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 12px 0;
}

.cart-checkout .cart-cols input {
  width: 100px;
}

.cart-checkout .code-input-wrapper {
  margin: 12px 0;
}

.cart-checkout .code-input-wrapper input {
  width: 150px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.cart-checkout .code-input-wrapper button {
  width: 100px;
  margin: 0;
  padding: 6px 16px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.home-page img {
  width: 80%;
  max-width: 480px;
  margin: 100px auto;
}
/*# sourceMappingURL=style.css.map */