button {
  background-color: #0a79df;
  color: #fff;
  font-size: 16px;
  outline: 0;
  border: 0;
  padding: 8px 16px;
  border-radius: 8px;
  margin: 8px;
  margin-left: 160px;
  cursor: pointer;
}

.navigation-bar {
  display: flex;
  align-items: center;
  background-color: bisque;
  align-items: center;
  justify-content: space-between;
  padding: 8px;

  @media screen and (max-width: 480px) {
    flex-direction: column;

    .app-title {
      padding: 8px 0;
    }

    nav {
      width: 100%;
      height: 40px;
      justify-content: center;
      background-color: rgba(255, 245, 230, 0.8);
    }
  }

  nav {
    display: flex;
    align-items: center;
    position: relative;

    a {
      margin: 0 12px;
      cursor: pointer;
    }
  }
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  input {
    width: 240px;
    padding: 8px;
    margin-top: 2px;
    border-radius: 8px;
    border: 1px solid grey;
    outline: 0;
  }

  input[type="radio"],
  input[type="checkbox"] {
    width: auto;
    margin: 0 8px 0 16px;
  }

  .input-radio-items {
    margin-left: -12px;
  }

  .inline-label {
    display: inline-flex;
    align-items: center;
    margin-right: 18px;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  h2 {
    margin: 18px 0;
  }
  .form-item {
    width: 320px;
    text-align: left;
    margin: 8px;
  }
  .input-wrapper {
    display: grid;
    grid-template-columns: 160px 280px;
    justify-items: left;
    align-items: center;
    min-height: 60px;
  }

  @media (max-width: 600px) {
    .input-wrapper {
      display: block;
      text-align: left;
      margin: 8px;
    }

    .input-radio-items {
      margin-top: 10px;
    }

    button {
      width: 240px;
      margin-left: 8px;
    }
  }
}

.main-container {
  h2 {
    margin: 18px 0;
  }
  .table {
    display: flex;
    justify-content: center;

    table {
      margin-top: 10px;
    }
    td,
    th {
      padding: 0.75rem;
      vertical-align: top;
      border-top: 1px solid #dee2e6;
    }
    thead th {
      border-top: none;
      min-width: 150px;
    }
    td {
      border-right: 2px solid peachpuff;
      text-align: center;
    }
    tbody tr:nth-child(1) td {
      border-top: 3px solid salmon;
    }
    button {
      border: none;
      background-color: transparent;
      text-decoration: underline;
      cursor: pointer;
    }
    button:hover {
      text-decoration: none;
      color: #333;
    }
    @media screen and (max-width: 767px) {
      font-size: 12px;
      justify-content: flex-start;
      overflow-x: scroll;
    }
  }
}

.cart-checkout {
  display: flex;
  flex-direction: column;
  align-items: center;

  input {
    border-radius: 8px;
    border: 1px solid grey;
    outline: 0;
    padding: 8px;
  }

  .cart-cols {
    display: grid;
    grid-template-columns: 150px 100px;
    justify-items: left;
    align-items: center;
    margin: 12px 0;

    input {
      width: 100px;
    }
  }

  .code-input-wrapper {
    margin: 12px 0;

    input {
      width: 150px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    button {
      width: 100px;
      margin: 0;
      padding: 6px 16px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

.home-page {
  img {
    width: 80%;
    max-width: 480px;
    margin: 100px auto;
  }
}
